body {
    background-color: black;
    font-family: Arial;
    color: white;
}

.title {
    font-size: 30px;
    font-weight: bold;
}
.move-button {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 3px solid white;
    background-color: transparent;
    margin-right: 10px;
    cursor: pointer;
}
.move-icon {
    height: 50px;
}
.result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}
.score {
    margin-top: 60px;
}
.reset-score-button {
    background-color: white;
    border: none;
    font-size: 10px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 15px;
}